//--- Global ---//

.cf:after
	content: ''
	display: table
	clear: both

.center
	text-align: center

.loader
	display: block
	margin: 80px auto

body
	font-family: 'Ubuntu', sans-serif

	h1, h2, h3, h4, h5, h6
		font-weight: normal

a
	outline: none

#top-header
	padding: 0 21px 31px
	overflow: hidden
	background-color: #00ABE0
	border-bottom: 3px solid lighten(#00ABE0, 20%)

	h1
		display: inline-block
		padding: 7px 21px
		background-color: #fff
		color: #444

		-webkit-border-radius: 3px
		-moz-border-radius: 3px
		border-radius: 3px

		-webkit-box-shadow: 7px 7px 0 lighten(#00ABE0, 20%)
		box-shadow: 7px 7px 0 lighten(#00ABE0, 20%)

	nav
		ul 
			padding: 0
			list-style: none

		li
			float: left

			a
				padding: 15px 21px
				font-size: 1.2em
				text-decoration: none
				color: #fff

			a:hover
				text-decoration: underline

	#linkedin-button
		display: inline-block
		margin-left: 31px


//--- flash ---//

#flash
	list-style: square
	color: red


//--- main ---//

#main
	padding: 0 21px