//--- Landing Pages ---//

.l-field + .l-field
	margin-top: 15px

#signin-form,
#register-form
	padding-top: 21px

	label
		display: inline-block

	input[type=submit]
		width: 150px
		margin-top: 31px
		padding: 4px 0
		border: 0
		font-size: 1.1em
		color: #fff
		background-color: #00ABE0


#signin-form
	label
		width: 110px

#register-form
	label
		width: 130px