#jm-left,
#jm-right
	width: 50%
	padding: 30px 30px 60px

	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box

	ul
		list-style: square

	li + li 
		margin-top: 7px

#jm-left
	float: left
	border-right: 1px solid #ccc

	h5
		margin-bottom: 50px
		font-size: 1.1em
		color: orange

	a
		display: block
		margin-bottom: 50px

	.field
		margin-bottom: 21px

#jm-right
	float: right