.cf:after {
  content: "";
  display: table;
  clear: both;
}

.center {
  text-align: center;
}

body {
  font-family: "Ubuntu", sans-serif;
}
body h1, body h2, body h3, body h4, body h5, body h6 {
  font-weight: normal;
}

#top-header {
  padding: 0 21px 31px;
  overflow: hidden;
  background-color: #dddddd;
  border-bottom: 2px solid #cccccc;
}
#top-header h1 {
  display: inline-block;
  padding: 7px 12px;
  background-color: white;
  color: #444444;
}
#top-header nav ul {
  padding: 0;
  list-style: none;
}
#top-header nav li {
  float: left;
}
#top-header nav li + li {
  padding-left: 21px;
}
#top-header #linkedin-button {
  display: inline-block;
  margin-left: 31px;
}

#flash {
  list-style: square;
  color: red;
}

#main {
  padding: 0 21px;
}

.l-field + .l-field {
  margin-top: 15px;
}

#signin-form,
#register-form {
  padding-top: 21px;
}
#signin-form label,
#register-form label {
  display: inline-block;
}
#signin-form input[type=submit],
#register-form input[type=submit] {
  width: 150px;
  margin-top: 31px;
  padding: 4px 0;
  border: 0;
  font-size: 1.1em;
  color: white;
  background-color: #00abe0;
}

#signin-form label {
  width: 110px;
}

#register-form label {
  width: 130px;
}

#dash-header {
  min-height: 50px;
  padding: 20px 0;
}

#dash {
  border-top: 1px solid #cccccc;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#dash p {
  margin-top: 50px;
  color: #777777;
}
#dash #saved,
#dash #builder,
#dash #matcher {
  width: 33%;
  min-height: 350px;
  float: left;
  padding: 19px 0;
  text-align: center;
}
#dash #builder,
#dash #matcher {
  border-left: 1px solid #cccccc;
}

#rb-left, #rb-right {
  width: 50%;
  padding: 30px 30px 60px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#rb-left {
  float: left;
  padding-left: 21px;
  border-right: 1px solid #cccccc;
}
#rb-left span {
  padding-right: 15px;
  font-weight: bold;
}
#rb-left label {
  display: block;
  margin-top: 21px;
  padding: 15px 0;
  font-weight: bold;
  border-top: 1px solid #cccccc;
}
#rb-left input[type=text],
#rb-left textarea {
  min-width: 75%;
  max-width: 97%;
  width: 75%;
}
#rb-left select {
  width: 200px;
}
#rb-left #options {
  margin-top: 30px;
}
#rb-left input[type=button] {
  width: 160px;
  margin-top: 31px;
  padding: 8px 0;
  border: 0;
  font-size: 1.1em;
  color: white;
  background-color: #00abe0;
}
#rb-left input[type=button] + input[type=button] {
  margin-left: 31px;
}

#rb-right {
  float: right;
  min-height: 900px;
  overflow-y: scroll;
  padding-bottom: 300px;
  background-color: #efefef;
}
#rb-right > h3 {
  margin-top: 0;
  text-align: center;
  font-weight: normal;
  font-style: italic;
  letter-spacing: 0.1em;
}
#rb-right #resume::-webkit-scrollbar {
  width: 16px;
}
#rb-right #resume::-webkit-scrollbar-thumb {
  background-color: #b03c3f;
  border-radius: 10px;
}
#rb-right #resume {
  scrollbar-face-color: #b03c3f;
}
#rb-right .resume {
  width: 600px;
  min-height: 847px;
  margin: 0 auto 30px;
  padding: 20px;
  border: 1px solid #999999;
  background-color: white;
}

#jm-left,
#jm-right {
  width: 50%;
  padding: 30px 30px 60px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#jm-left ul,
#jm-right ul {
  list-style: square;
}
#jm-left li + li,
#jm-right li + li {
  margin-top: 7px;
}

#jm-left {
  float: left;
  border-right: 1px solid #cccccc;
}
#jm-left h5 {
  margin-bottom: 50px;
  font-size: 1.1em;
  color: orange;
}
#jm-left a {
  display: block;
  margin-bottom: 50px;
}
#jm-left .field {
  margin-bottom: 21px;
}

#jm-right {
  float: right;
}
