#top-header {
  padding: 0 21px 31px;
  overflow: hidden;
  background-color: #dddddd;
  border-bottom: 2px solid #cccccc;
}
#top-header h1 {
  color: #333333;
}
#top-header nav ul {
  padding: 0;
  list-style: none;
}
#top-header nav li {
  float: left;
}
#top-header nav li + li {
  padding-left: 21px;
}

#flash {
  color: red;
}

#main {
  padding: 0 21px;
}

#dash {
  border-top: 1px solid #cccccc;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#dash #saved,
#dash #builder,
#dash #matcher {
  width: 33%;
  min-height: 350px;
  float: left;
  padding: 19px 0;
  text-align: center;
}
#dash #builder,
#dash #matcher {
  border-left: 1px solid #cccccc;
}

#rb-left, #rb-right {
  width: 50%;
  padding: 30px 30px 60px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#rb-left {
  float: left;
  padding-left: 21px;
  border-right: 1px solid #cccccc;
}
#rb-left label {
  display: block;
  margin-top: 21px;
  padding: 15px 0;
  border-top: 1px solid #cccccc;
}

#rb-right {
  float: right;
  height: auto;
  max-height: 1065px;
  overflow-y: scroll;
  background-color: #efefef;
}
#rb-right h3 {
  margin-top: 0;
  text-align: center;
  font-weight: normal;
  font-style: italic;
  letter-spacing: 0.1em;
}
#rb-right #resume::-webkit-scrollbar {
  width: 16px;
}
#rb-right #resume::-webkit-scrollbar-thumb {
  background-color: #b03c3f;
  border-radius: 10px;
}
#rb-right #resume {
  scrollbar-face-color: #b03c3f;
}
#rb-right .page {
  width: 600px;
  height: 847px;
  margin: 0 auto 30px;
  border: 1px solid #999999;
  background-color: white;
}
