<div id="rb-left">
	<span>Choose a Resume Template</span>

	<select id="changeTemp" ng-model="temp.id" ng-options="template.id as template.title for template in templates" ng-change="changeTemplate(temp.id)"></select>

	<form method="post">
		<div class="field">
			<label for="name">Name</label>
			<input type="text" id="name" ng-model="doc.name">
		</div>

		<div class="field">
			<label for="address">Address</label>
			<input type="text" id="address" ng-model="doc.address">
		</div>

		<div class="field">
			<label for="phone">Phone Number</label>
			<input type="text" id="phone" ng-model="doc.phone">
		</div>

		<div class="field">
			<label for="email">Email</label>
			<input type="text" id="email" ng-model="doc.email">
		</div>

		<div class="field">
			<label for="website">Website</label>
			<input type="text" id="website" ng-model="doc.website">
		</div>

		<div class="field">
			<label for="about">About</label>
			<textarea id="about" ng-model="doc.about"></textarea>
		</div>

		<div class="field">
			<label for="education">Education</label>
			<textarea id="education" ng-model="doc.education"></textarea>
		</div>

		<div class="field">
			<label for="skills">Skills (comma separated)</label>
			<input type="text" id="skills" ng-model="doc.skills" ng-list>
		</div>
		
		<div class="field">
			<label for="experience">Experience</label>
			<textarea id="experience" ng-model="doc.experience"></textarea>
		</div>

		<div class="field">
			<label for="interests">Interests</label>
			<textarea id="interests" ng-model="doc.interests"></textarea>
		</div>

		<div id="options">
			<input type="button" value="Save Doc">
			<input type="button" value="Download as PDF">
		</div>
	</form>
</div>
<div id="rb-right">
	<h3>Resume Preview</h3>

	<!-- ADD URI TO SELECT -->
	<!-- <ng-include path="uri"></ng-include> -->
	
	<resume id="resume" ng-if="tempsLoaded" doc="doc" template="temp.template"></resume>
</div>