<header id="dash-header">
	<h2 ng-show="user"><strong>Your Dashboard</strong> – Welcome, {{ user }}!</h2>
</header>

<div class="cf"></div>

<div id="dash">
	<section id="saved">
		<span class="big">Your Saved Documents</span>

		<ul ng-cloak>
			<li ng-if="savedDocs" ng-repeat="doc in savedDocs | orderBy: '-created'">
				<a href="#/app/resume-builder/{{ doc.id }}">
					<span class="title">{{ doc.title }}</span>
				</a>
				<div class="date">{{ doc.created | asDate | date:'dd MMMM yyyy - HH:mm '}}</div>
			</li>
			<li ng-if="docsLoaded && !savedDocs.length">You Have No Saved Docs!</li>
		</ul>
	</section>

	<section id="builder">
		<a href="#/app/resume-builder">
			<div class="big">Go to Resume Builder</div>

			<img src="../img/write.png" height="128" width="128" alt="Create a Resume">
		</a>
	</section>

	<section id="matcher">
		<a href="#/app/job-matcher">
			<div class="big">Go to Job Matcher</div>

			<img src="../img/search.png" height="128" width="128" alt="Search for Jobs">
		</a>
	</section>
</div>