<header id="dash-header">
	<h2 ng-show="user"><strong>Your Dashboard</strong> – Welcome, {{ user }}!</h2>
</header>

<div class="cf"></div>

<div id="dash">
	<section id="saved">
		Saved Documents

		<ul ng-cloak>
			<li ng-if="savedDocs" ng-repeat="doc in savedDocs | orderBy: '-created'">
				<a href="#/app/resume-builder/{{ doc.id }}">{{ doc.title }} - {{ doc.created | asDate | date:'dd MMMM yyyy'}}</a>
			</li>
			<li ng-if="docsLoaded && !savedDocs.length">You Have no Saved Docs!</li>
		</ul>
	</section>

	<section id="builder">
		<a href="#/app/resume-builder">Go to Resume Builder</a>
	</section>

	<section id="matcher">
		<a href="#/app/job-matcher">Go to Job Matcher</a>
	</section>
</div>