<div id="jm-left">
	<h5>This Page Requires That You Sign in with LinkedIn...</h5>
	
	<a href="#/app/dashboard">Return to Dashboard</a>

	<h4>Skills</h4>

	<div class="field">
		<label for="industry">Industry</label>
		<input type="text" id="industry">
	</div>
	
	<div class="field">
		<label for="addSkill">Add a Skill</label>
		<input type="text" id="addSkill">
	</div>
	
	<ul>
		<li><input type="text"></li>
		<li><input type="text"></li>
		<li><input type="text"></li>
	</ul>
</div>

<div id="jm-right">
	<h3>Job Posting Matches</h3>

	<ul>
		<li><a href="#">Result One</a></li>
		<li><a href="#">Result Two</a></li>
		<li><a href="#">Result Three</a></li>
	</ul>
</div>