<div id="jm">
	<h4 class="center">Build Your Search Terms and Click Search for Matching LinkedIn Jobs!</h4>
	
	<div>
		<script>
		  (function() {
		    var cx = '012710661128998304014:fen1n3nymgk';
		    var gcse = document.createElement('script');
		    gcse.type = 'text/javascript';
		    gcse.async = true;
		    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
		        '//www.google.com/cse/cse.js?cx=' + cx;
		    var s = document.getElementsByTagName('script')[0];
		    s.parentNode.insertBefore(gcse, s);
		  })();
		</script>
		<gcse:searchbox-only ng-model="terms"></gcse:searchbox-only>
	</div>	

	<div id="recommended">
		<h5>Recommended Search Query:</h5>
		<div ng-bind="recommended"></div>
	</div>
</div>