<form ng-submit="signin()" method="post">
	<div class="field">
		Email:
		<input type="text" name="email" placeholder="email" ng-model="credentials.email">
	</div>

	<div class="field">
		Password:
		<input type="password" name="password" placeholder="password" ng-model="credentials.password">
	</div>

	<div class="field">
		<label for="remember">Remember Me</label>
		<input type="checkbox" name="remember" id="remember" ng-model="credentials.remember">
	</div>
	
	<input type="submit" value="Sign In">
</form>